@import url(http://fonts.googleapis.com/css?family=Roboto:regular,medium,light,thin,italic,bold);

@import "css/fontello.css";

/*!	xchema | xtyle 2013
 *	license: MIT
 *	author: Mariz Melo
 *	page: http://xtyle.xchema.com
 *	github: http://github.com/xchema/xtyle
 *	desc: CSS charset, fonts, reset, base mixins
 */

@charset "UTF-8";

html,
body,
div,
span,
p,
blockquote,
ul,
li,
dl,
dt,
dd,
ol,
nav,
a,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
label,
input,
select,
textarea,
button,
fieldset,
legend {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
  word-wrap: break-word;
  border: 0;
  outline: none;
}

strong,
em {
  font-size: inherit;
}

html {
  height: 100%;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #444444;
  background-color: white;
}

body.menu {
  padding-top: 60px;
}

body.bottom {
  padding-bottom: 60px;
}

a.btn {
  display: inline-block;
  color: #444444;
  vertical-align: middle;
}

a.btn:hover {
  color: #444444;
}

a.btn:active {
  color: #444444;
}

input,
textarea,
select {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-image: -webkit-gradient(linear, 0 0%, 0% 100%, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}

input[type=text],
input[type=email],
input[type=number],
input[type=button],
input[type=submit],
select {
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

select {
  cursor: pointer;
}

:-moz-placeholder {
  color: #cbcbcb;
  text-style: normal;
}

::-webkit-input-placeholder {
  color: #cbcbcb;
  text-style: normal;
}

input:-moz-placeholder {
  color: #cbcbcb;
  text-style: normal;
}

.color {
  color: #444444;
}

.colorComp1 {
  color: #444444;
}

.colorComp2 {
  color: #373737;
}

.colorComp3 {
  color: #6a6a6a;
}

.colorComp4 {
  color: #919191;
}

.colorSubtle1 {
  color: #5e5e5e;
}

.colorSubtle2 {
  color: #777777;
}

.colorSubtle3 {
  color: #2b2b2b;
}

.colorSubtle4 {
  color: #111111;
}

.clear {
  zoom: 1;
}

.clear:before,
.clear:after {
  display: table;
  content: "";
}

.clear:after {
  clear: both;
}

.units .unit1,
.units .unit2,
.units .unit3,
.units .unit4,
.units .unit5,
.units .unit6,
.units .unit7,
.units .unit8,
.units .unit9,
.units .unit10,
.units .unit11,
.units .unit12 {
  background: #f7f7f7;
}

div.unit1 {
  float: left;
  width: 40px;
  padding: 10px;
  margin: 10px;
}

div.unit2 {
  float: left;
  width: 120px;
  padding: 10px;
  margin: 10px;
}

div.unit3 {
  float: left;
  width: 200px;
  padding: 10px;
  margin: 10px;
}

div.unit4 {
  float: left;
  width: 280px;
  padding: 10px;
  margin: 10px;
}

div.unit5 {
  float: left;
  width: 360px;
  padding: 10px;
  margin: 10px;
}

div.unit6 {
  float: left;
  width: 440px;
  padding: 10px;
  margin: 10px;
}

div.unit7 {
  float: left;
  width: 520px;
  padding: 10px;
  margin: 10px;
}

div.unit8 {
  float: left;
  width: 600px;
  padding: 10px;
  margin: 10px;
}

div.unit9 {
  float: left;
  width: 680px;
  padding: 10px;
  margin: 10px;
}

div.unit10 {
  float: left;
  width: 760px;
  padding: 10px;
  margin: 10px;
}

div.unit11 {
  float: left;
  width: 840px;
  padding: 10px;
  margin: 10px;
}

div.unit12 {
  float: left;
  width: 920px;
  padding: 10px;
  margin: 10px;
}

input,
a.btn,
button {
  margin: 5px 10px 10px 0;
}

input[type=text],
input[type=email],
input[type=password],
input[type=number],
select,
textarea {
  padding: 5px 10px;
  border: 1px solid #e8e8e8;
  -webkit-transition: border-color 0.1s linear;
     -moz-transition: border-color 0.1s linear;
      -ms-transition: border-color 0.1s linear;
       -o-transition: border-color 0.1s linear;
          transition: border-color 0.1s linear;
}

input[type=text]:hover,
input[type=email]:hover,
input[type=password]:hover,
input[type=number]:hover,
select:hover,
textarea:hover {
  border-color: #d4d4d4;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=number]:focus,
select:focus,
textarea:focus {
  border-color: #1ab2ff;
}

input[type=text],
input[type=email],
input[type=password],
input[type=number],
textarea {
  border-top: 2px solid #e8e8e8;
}

input[type=text].search,
input[type=email].search,
input[type=password].search,
input[type=number].search,
textarea.search {
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
}

textarea.noresize {
  resize: none;
}

input[type=radio],
input[type=checkbox] {
  margin: 5px;
}

input[type=submit],
button,
a.btn,
select {
  padding: 5px 10px;
  margin-right: 10px;
  font: 14px "Roboto", "Helvetica", "Arial", sans-serif;
  vertical-align: bottom;
  cursor: pointer;
  background: #f2f2f2;
  border: 1px solid #e8e8e8;
  border-bottom: 2px solid #e8e8e8;
  -webkit-transition: border-color 0.1s linear;
  -webkit-transition: background 0.1s linear;
     -moz-transition: border-color 0.1s linear;
     -moz-transition: background 0.1s linear;
      -ms-transition: border-color 0.1s linear;
      -ms-transition: background 0.1s linear;
       -o-transition: border-color 0.1s linear;
       -o-transition: background 0.1s linear;
          transition: border-color 0.1s linear;
  transition: background 0.1s linear;
}

input[type=submit]:hover,
button:hover,
a.btn:hover,
select:hover {
  background: #f7f7f7;
}

input[type=submit]:active,
button:active,
a.btn:active,
select:active {
  background: #f7f7f7;
  border-top: 2px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}

input[type=submit]:focus,
button:focus,
a.btn:focus,
select:focus {
  border-color: #cfcfcf;
}

input[type=submit].inverse,
button.inverse,
a.btn.inverse,
select.inverse {
  color: white;
  background: #353535;
  border-color: #2b2b2b;
}

input[type=submit].inverse:hover,
button.inverse:hover,
a.btn.inverse:hover,
select.inverse:hover {
  color: white;
  background: #444444;
}

input[type=submit].inverse:active,
button.inverse:active,
a.btn.inverse:active,
select.inverse:active {
  color: white;
  background: #444444;
}

input[type=submit].inverse:focus,
button.inverse:focus,
a.btn.inverse:focus,
select.inverse:focus {
  border-color: #000000;
}

input[type=submit].warning,
button.warning,
a.btn.warning,
select.warning {
  color: white;
  background: #c8a62c;
  border-color: #bb9c29;
}

input[type=submit].warning:hover,
button.warning:hover,
a.btn.warning:hover,
select.warning:hover {
  color: white;
  background: #d4b339;
}

input[type=submit].warning:active,
button.warning:active,
a.btn.warning:active,
select.warning:active {
  color: white;
  background: #d4b339;
}

input[type=submit].warning:focus,
button.warning:focus,
a.btn.warning:focus,
select.warning:focus {
  border-color: #917920;
}

input[type=submit].error,
button.error,
a.btn.error,
select.error {
  color: white;
  background: #b74b4e;
  border-color: #a64245;
}

input[type=submit].error:hover,
button.error:hover,
a.btn.error:hover,
select.error:hover {
  color: white;
  background: #be5d60;
}

input[type=submit].error:active,
button.error:active,
a.btn.error:active,
select.error:active {
  color: white;
  background: #be5d60;
}

input[type=submit].error:focus,
button.error:focus,
a.btn.error:focus,
select.error:focus {
  border-color: #813436;
}

input[type=submit].info,
button.info,
a.btn.info,
select.info {
  color: white;
  background: #4888b3;
  border-color: #417aa1;
}

input[type=submit].info:hover,
button.info:hover,
a.btn.info:hover,
select.info:hover {
  color: white;
  background: #5994bc;
}

input[type=submit].info:active,
button.info:active,
a.btn.info:active,
select.info:active {
  color: white;
  background: #5994bc;
}

input[type=submit].info:focus,
button.info:focus,
a.btn.info:focus,
select.info:focus {
  border-color: #325f7d;
}

input[type=submit].success,
button.success,
a.btn.success,
select.success {
  color: white;
  background: #558e45;
  border-color: #4f8440;
}

input[type=submit].success:hover,
button.success:hover,
a.btn.success:hover,
select.success:hover {
  color: white;
  background: #5f9f4d;
}

input[type=submit].success:active,
button.success:active,
a.btn.success:active,
select.success:active {
  color: white;
  background: #5f9f4d;
}

input[type=submit].success:focus,
button.success:focus,
a.btn.success:focus,
select.success:focus {
  border-color: #406b34;
}

input[type=submit].small,
button.small,
a.btn.small,
select.small {
  font-size: 80%;
}

input[type=submit].large,
button.large,
a.btn.large,
select.large {
  font-size: 150%;
}

input[disabled='disabled'],
textarea[disabled='disabled'],
select[disabled='disabled'] {
  background: #fafafa;
  background-image: -webkit-gradient(linear, 0 0%, 0% 100%, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  opacity: 1;
}

select {
  padding-right: 25px;
}

label {
  padding-right: 5px;
}

textarea {
  margin: 0 10px 8.333333333333334px 0;
}

.icon-down-dir.select {
  position: absolute;
  margin: 6px 0 0 -30px;
  pointer-events: none;
  -webkit-opacity: 0.5;
     -moz-opacity: 0.5;
       -o-opacity: 0.5;
          opacity: 0.5;
  filter: alpha(opacity=50);
}

fieldset {
  padding: 10px 20px 10px 20px;
  border: 1px solid #e8e8e8;
}

fieldset legend {
  padding: 0 6.666666666666667px 0 6.666666666666667px;
  font-size: 120%;
  font-weight: bold;
}

a {
  color: #0088cc;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
     -moz-transition: color 0.1s linear;
      -ms-transition: color 0.1s linear;
       -o-transition: color 0.1s linear;
          transition: color 0.1s linear;
}

a:hover {
  color: #1ab2ff;
}

a:active {
  color: #0088cc;
}

a:visited {
  /* not implemented */

}

del {
  text-decoration: line-through;
}

caps {
  font-variant: small-caps;
}

mark {
  padding: 0 .25em;
  color: #444444;
  background: rgba(255, 255, 0, 0.4);
}

p {
  margin: 0 0 20px;
  word-wrap: break-word;
}

p .first-letter {
  display: block;
  float: left;
  padding: 5px 5px 0 0;
  font-size: 300%;
  font-weight: bold;
  line-height: 90%;
}

p.idented {
  margin-top: 0;
  text-indent: 2em;
}

blockquote {
  padding-left: 20px;
  font-weight: lighter;
  border-left: 2px solid #dddddd;
}

blockquote p {
  font-size: 120%;
}

blockquote cite {
  display: block;
  padding: 0;
  margin-top: -23px;
  margin-bottom: 20px;
  font-weight: normal;
}

blockquote.right {
  padding-right: 20px;
  padding-left: 0;
  border-right: 2px solid #dddddd;
  border-left: none;
}

section {
  padding: 20px;
  margin: 20px 0;
  margin-bottom: 10px;
  overflow: hidden;
  background: white;
  border: 1px solid #e8e8e8;
}

section.column {
  float: left;
  padding: 10px 20px 10px 20px;
  margin: 10px 10px 10px 10px;
}

small {
  font-size: 80%;
}

sub {
  vertical-align: sub;
}

sup {
  vertical-align: super;
}

thin {
  font-weight: 200;
}

abbr {
  cursor: help;
  border-bottom: 1px dotted #dddddd;
}

address {
  font-style: normal;
}

address .org {
  font-weight: bold;
}

alert {
  display: block;
  padding: 6px 10px;
  font-style: normal;
  color: #b39527;
  background: #f8f3e1;
  border: 1px solid #ede0ae;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

alert a {
  color: #b39527;
  text-decoration: underline;
}

alert a:hover {
  color: #746119;
}

alert a:active {
  color: #b39527;
}

alert.error {
  color: #be5d60;
  background: #f7ebeb;
  border-color: #f0d9d9;
}

alert.error a {
  color: #be5d60;
}

alert.error a:hover {
  color: #933b3e;
}

alert.error a:active {
  color: #be5d60;
}

alert.info {
  color: #5994bc;
  background: #e7eff5;
  border-color: #d5e4ee;
}

alert.info a {
  color: #5994bc;
}

alert.info a:hover {
  color: #3a6c8f;
}

alert.info a:active {
  color: #5994bc;
}

alert.success {
  color: #5f9f4d;
  background: #e4f0e1;
  border-color: #c6e0bf;
}

alert.success a {
  color: #5f9f4d;
}

alert.success a:hover {
  color: #406b34;
}

alert.success a:active {
  color: #5f9f4d;
}

code {
  padding: 2px 4px;
  color: #d50e14;
  background: #f7f7f7;
  border: 1px solid #e8e8e8;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

pre {
  padding: 10px;
  margin-bottom: 20px;
  font-family: "Courier New", Courier, monospace, "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 90%;
  color: #3F639E;
  background: #f7f7f7;
  border: 1px solid #e8e8e8;
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  background: none;
  border: 0;
}

pre.rounded {
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

pre.html .tag {
  color: #4aa3b7;
}

pre.html .attr {
  color: #281;
}

pre.html .str {
  color: #C02B41;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 10px;
  font-weight: bold;
  line-height: 1.1;
  color: #1e1e1e;
}

h1.lighter,
h2.lighter,
h3.lighter,
h4.lighter,
h5.lighter,
h6.lighter {
  font-weight: 200;
}

h1 {
  font-size: 225%;
}

h2 {
  font-size: 200%;
}

h3 {
  font-size: 175%;
}

h4 {
  font-size: 150%;
}

h5 {
  font-size: 125%;
}

h6 {
  font-size: 100%;
}

ul,
ol {
  padding: 0;
  margin-left: 20px;
}

dl dl,
dl dd {
  margin-left: 10px;
}

ul.reset ul {
  list-style: disc;
}

ul.reset,
ol.reset {
  margin-left: 0;
  list-style: none;
}

dt {
  font-weight: bold;
}

dd {
  font-weight: normal;
}

nav {
  z-index: 10000;
  display: block;
}

nav a {
  float: left;
  padding: 10px;
}

nav a.active {
  background: #efefef;
}

nav h1,
nav h2,
nav h3,
nav h4,
nav h5,
nav h6 {
  margin: 0;
}

nav.menu {
  position: fixed;
  left: 0;
  width: 100%;
  background: #f7f7f7;
  border-bottom: 1px solid #e8e8e8;
}

nav.inverse {
  color: white;
  background: #232323;
  border-bottom: 1px solid black;
}

nav.inverse h1,
nav.inverse h2,
nav.inverse h3,
nav.inverse h4,
nav.inverse h5,
nav.inverse h6 {
  color: inherit;
}

nav.inverse a {
  color: #b3b3b3;
}

nav.inverse a:hover {
  color: white;
}

nav.inverse a.active {
  background: #000000;
}

nav.top {
  top: 0;
}

nav.bottom {
  bottom: 0;
}

nav .logo {
  float: left;
  padding: 2px 20px;
  font-size: 180%;
  font-weight: lighter;
}

nav ul {
  list-style: none;
}

nav ul li {
  float: left;
}

.nopadding {
  padding: 0;
}

.nomargin {
  margin: 0;
}

.nomargin-bottom {
  margin-bottom: 0;
}

.position-relative {
  position: relative;
}

.fixed {
  position: relative;
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.fluid {
  width: 100%;
  text-align: left;
}

.text-shadow {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

.rounded {
  -webkit-border-radius: 5px !important;
     -moz-border-radius: 5px !important;
          border-radius: 5px !important;
}

.rounded-top {
  -webkit-border-radius: 5px 5px 0 0px;
     -moz-border-radius: 5px 5px 0 0px;
          border-radius: 5px 5px 0 0px;
}

.rounded-bottom {
  -webkit-border-radius: 0 0px 5px 5px;
     -moz-border-radius: 0 0px 5px 5px;
          border-radius: 0 0px 5px 5px;
}

.background-cover,
.background-cover-fixed {
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.background-cover-fixed {
  background-attachment: fixed;
}

.vertical-middle {
  vertical-align: middle;
}

.vertical-top {
  vertical-align: top;
}

.vertical-bottom {
  vertical-align: bottom;
}

.transparent {
  -webkit-opacity: 0.5;
     -moz-opacity: 0.5;
       -o-opacity: 0.5;
          opacity: 0.5;
  filter: alpha(opacity=50);
}

.normal {
  font-weight: normal;
}

.lighter {
  font-weight: lighter;
}

.bold {
  font-weight: bold;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.block {
  display: block;
}

.wrap {
  width: 100%;
  overflow: auto;
}

.wrap.fixed {
  width: 960px;
  margin: 0;
}

div.resize {
  overflow: auto;
  resize: both;
}

.hide {
  display: none;
}

.mobile {
  display: none;
}

@media screen and (max-width: 1000px) {
  div.unit1,
  div.unit2,
  div.unit3,
  div.unit4,
  div.unit5,
  div.unit6,
  div.unit7,
  div.unit8,
  div.unit9,
  div.unit10,
  div.unit11,
  div.unit12 {
    float: none;
    width: auto;
    margin: 10px 0;
  }
  .wrap.fixed {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 75%;
  }
  nav a {
    display: none;
  }
  nav a.logo {
    display: block;
  }
  .mobile {
    display: inline;
  }
  .desktop {
    display: none;
  }
  pre {
    font-size: 80%;
  }
  alert {
    font-size: 80%;
  }
}
