/*	xchema | xtyle 2012
 *	license:	MIT
 *	author: 	Mariz Melo
 *	demo: 		http://xchema.github.com/xtyle
 *	github: 	http://github.com/xchema/xtyle
 */

/* CHARSET */
@charset "UTF-8";

/* VARIABLES */
@fixed-width: 	960px;		//fixed size of project (when using fixed layout)
@base: 					#663333;	//base color for link and colors

/* RESET */
html, body,
div, span, p,
ul, li, dl, dt, dd, ol{
	border:					0;
	margin:					0;
	outline-style: 	0;
	padding:				0;
}

/* HTML TAGS */
body{
	background-color: white;
	font:    					62.5% "Roboto", Sans-serif, Arial;
	height: 					100%;
	text-align:				center;
}

/* XTYLE */
/* MOBILE */
@import url("xtyle-mobile.less");
/* DESKTOP */
@import url("xtyle-desktop.less");


/* LESS MIXINS */
//color schema
.color-base   	{color: @base;}
//complimentary colors
@complement1:		spin(@base, 180);
@complement2: 	darken(spin(@base, 180), 5%);
@lighten1: 			lighten(@base, 15%);
@lighten2: 			lighten(@base, 30%);
.color-comp1  	{color: @complement1;}
.color-comp2 		{color: @complement2;}
.color-comp3  	{color: @lighten1;}
.color-comp4  	{color: @lighten2;}
//subtle colors
@lighter1: 			lighten(spin(@base, 5), 10%);
@lighter2: 			lighten(spin(@base, 10), 20%);
@darker1: 			darken(spin(@base, -5), 10%);
@darker2: 			darken(spin(@base, -10), 20%);
.color-subtle1 	{color: @lighter1;}
.color-subtle2 	{color: @lighter2;}
.color-subtle3 	{color: @darker1;}
.color-subtle4 	{color: @darker2;}

//border radius
.border-radius(@radius: 5px){
	-webkit-border-radius: 	@radius;
	-moz-border-radius: 		@radius;
	border-radius: 					@radius;
}
.border-radius-top(@radius: 5px){
  -moz-border-radius: 		0px 0px @radius @radius;
  -webkit-border-radius: 	0px 0px @radius @radius;
  border-radius: 					0px 0px @radius @radius;
}
.border-radius-bottom(@radius: 5px){
  -moz-border-radius: 		@radius @radius 0px 0px;
  -webkit-border-radius: 	@radius @radius 0px 0px;
  border-radius: 					@radius @radius 0px 0px;
}
.border-radius-custom(@topleft: 5px, @topright: 5px, @bottomleft: 5px, @bottomright: 5px){
	-webkit-border-radius: 	@topleft @topright @bottomright @bottomleft;
	-moz-border-radius: 		@topleft @topright @bottomright @bottomleft;
	border-radius: 					@topleft @topright @bottomright @bottomleft;
}
// Clearing floats like a boss: goo.gl/zm1oD
.clean{
  zoom: 1;
	&:before, &:after {
    display: table;
    content: "";
	}&:after {
    clear: both;
	}
}
// Content columns
.content-columns(@columnCount, @columnGap: 20px) {
	-webkit-column-count:	@columnCount;
  -moz-column-count: 		@columnCount;
  column-count: 				@columnCount;
  -webkit-column-gap: 	@columnGap;
	-moz-column-gap: 			@columnGap;
  column-gap: 					@columnGap;
}
// Gradients
.gradient-x(@start:#000, @stop:#111) {
  background-color:		@stop;
  background-repeat:	repeat-x;
  background-image:		-webkit-gradient(linear, left top, right top, from(@start), to(@stop));
  background-image:		-webkit-linear-gradient(left, @start, @stop);
	background-image:		-moz-linear-gradient(left, @start 0%, @stop 100%);
	background-image:		-o-linear-gradient(left, @start 0%, @stop 100%);
  background-image:		-ms-linear-gradient(left, @start 0%, @stop 100%);
	background-image:		linear-gradient(left, @start 0%, @stop 100%);
}
.gradient-y(@start:#000, @stop:#111) {
  background-color:		@stop;
  background-repeat:	repeat-x;
  background-image:		-webkit-gradient(linear, left top, left bottom, from(@start), to(@stop));
  background-image:		-webkit-linear-gradient(top, @start, @stop);
	background-image:		-moz-linear-gradient(top, @start 0%, @stop 100%);
	background-image:		-o-linear-gradient(top, @start 0%, @stop 100%);
  background-image:		-ms-linear-gradient(top, @start 0%, @stop 100%);
	background-image:		linear-gradient(top, @start 0%, @stop 100%);
}
.gradient-deg(@start: #555, @stop: #333, @deg: 45deg) {
  background-color: 	@stop;
  background-repeat:	repeat-x;
  background-image: 	-webkit-linear-gradient(@deg, @start, @stop);
  background-image: 	-moz-linear-gradient(@deg, @start, @stop);
  background-image: 	-o-linear-gradient(@deg, @start, @stop);
  background-image: 	-ms-linear-gradient(@deg, @start, @stop);
  background-image: 	linear-gradient(@deg, @start, @stop);
}
.opacity(@opacity: 100){
	-webkit-opacity:	@opacity / 100;
	-moz-opacity: 		@opacity / 100;
	-o-opacity: 			@opacity / 100;
	filter: 					e(%("alpha(opacity=%d)", @opacity));
	opacity: 					@opacity / 100;
}
.placeholder(@color: #ccc, @text-style: normal){
  :-moz-placeholder{ color: @color; text-style:	@text-style; }
  ::-webkit-input-placeholder{ color: @color; text-style:	@text-style; }
}
//shadows
.box-shadow(@horizontal: 1px, @vertical: 1px, @blur: 3px, @color: #000){
  -moz-box-shadow: 		@horizontal @vertical @blur @color;
  -webkit-box-shadow: @horizontal @vertical @blur @color; 
  box-shadow: 				@horizontal @vertical @blur @color;
}
.inner-shadow(@horizontal: 1px, @vertical: 1px, @blur: 3px, @color: #000){
  -moz-box-shadow: 		@horizontal @vertical @blur @color inset;
  -webkit-box-shadow: @horizontal @vertical @blur @color inset; 
  box-shadow: 				@horizontal @vertical @blur @color inset;
}
//transitions
.transition (@prop: all, @time: 1s, @ease: linear) {
	-webkit-transition:	@prop @time @ease;
	-moz-transition: 		@prop @time @ease;
	-o-transition: 			@prop @time @ease;
	-ms-transition: 		@prop @time @ease;
	transition: 				@prop @time @ease;
}
//transformations
.transform (@rotate: 90deg, @scale: 1, @skew: 1deg, @translate: 10px) {
	-webkit-transform: 	rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
	-moz-transform: 		rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
	-o-transform: 			rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
	-ms-transform: 			rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
	transform: 					rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
}