//CLASSES
.radio, .checkbox, input, select, .select, .btn, alert, tag{
  .iconSizes(); 
}

.user-select-none{
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.clear-both{
  zoom: 1;
  &:before, &:after {
      display: table;
      content: "";
  }&:after {
      clear: both;
  }
}

img.filter-grayscale{
  .filterGrayscale(1);
}

.position-absolute{
  position: absolute;
}
.position-fixed{
  position: fixed;
}
.position-relative{
  position: relative;
}

//if want to force a fluid layout
.layout-fluid{
  width: auto !important;
  text-align: left;
}
.layout-fixed{
  width: @mediaFixed;
}
// just for fixed layouts
.layout-fixed.layout-center{
  margin-left: auto;
  margin-right: auto;
}

.text-shadow{
  .textShadow();
}

.border-radius{
  .borderRadius();
}
.border-radius-top{
  .borderRadiusTop();
}
.border-radius-bottom{
  .borderRadiusBottom();
}
.border-radius2x{
  .borderRadius(20px);
}
.border-radius2x-top{
  .borderRadiusTop(20px);
}
.border-radius2x-bottom{
  .borderRadiusBottom(20px);
}
.border-radius-circle{
  .borderRadius(100%);
}

.background{ 
  background-color: @background;
}
.background-cover,.background-cover-fixed{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.background-cover-fixed{
    background-attachment: fixed;
}

.vertical-middle{
  .verticalAlign();
}
.vertical-top{
  .verticalAlign(top);
}
.vertical-bottom{
  .verticalAlign(bottom);
}

.transparent{
  .opacity();
}
.transparent_50{
  .opacity(50);
}
.transparent_80{
  .opacity(80);
}

//font weights
.normal{ 
  font-weight: normal; 
}
.lighter{ 
  font-weight: lighter; 
}
.bold{ 
  font-weight: bold; 
}
.left{
  text-align: left;
}
.center{
  text-align: center; 
}
.right{
  text-align: right; 
}

//floats
.float-left{
  float: left; 
}
.float-right{
  float: right;
}

//display
.block{
  display: block; 
}
.inline{
  display: inline;
}
.inline-block{
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
}

//resize for elements
div.resize{
  resize: both;
  overflow: auto;
}

.hide{
  display: none;
}

// hide divs for mobile only
.mobile{
  display: none;
}

//cursor pointer
.pointer{
    cursor: pointer;
}

//margin/padding classes
.margin{ margin: @margin; }
.margin-top{ margin-top: @margin; }
.margin-right{ margin-right: @margin; }
.margin-bottom{ margin-bottom: @margin; }
.margin-left{ margin-left: @margin; }
.margin-top-bottom{ margin: @margin 0; }
.margin-left-right{ margin: 0 @margin; }

.padding{ padding: @padding; }
.padding-top{ padding-top: @padding; }
.padding-right{ padding-right: @padding; }
.padding-bottom{ padding-bottom: @padding; }
.padding-left{ padding-left: @padding; }
.padding-top-bottom{ padding: @padding 0; }
.padding-left-right{ padding: 0 @padding; }

.padding-none{
  padding: 0 !important;
}
.margin-none{
  margin: 0 !important;
}
.margin-top-none{
  margin-top: 0 !important;
}
.margin-right-none{
  margin-right: 0 !important;
}
.margin-bottom-none{
  margin-bottom: 0 !important;
}
.margin-left-none{
  margin-left: 0 !important;
}

.border {
  border: 1px solid #e8e8e8;
}
.border-top {
  border-top: 1px solid #e8e8e8;
}
.border-right {
  border-right: 1px solid #e8e8e8;
}
.border-bottom {
  border-bottom: 1px solid #e8e8e8;
}
.border-left {
  border-left: 1px solid #e8e8e8;
}
.border-none{
  border: 0;
}

.responsive-background{
  background-size: 100% auto;
}

.overflow-hidden{
  overflow: hidden;
}