input,a.btn,button{
  margin: @margin/2 @margin @margin 0;
}
input[type=text],
input[type=email],
input[type=password],
input[type=number]{
  &.small{
    width: @inputSmall;
  }
  &.medium{
    width: @inputMedium;
  }
  &.large{
    width: @inputLarge;
  }
}
input[type=text],
input[type=email],
input[type=password],
input[type=number],
select,
textarea{
  border: 1px solid @border;
  padding: @padding/2 @padding;
  .transition(border-color, .1s, linear);
  &:hover{
    border-color: darken(@border, 8%);
  }
  &:focus{
    border-color: lighten(@links, 15%);
  }
}
input[type=text],
input[type=email],
input[type=password],
input[type=number],
textarea{
  border-top: 2px solid @border;
  &.search{
    .borderRadius(20px);
  }
}
textarea{
  &.noresize{
    resize: none;
  }
}
input[type=radio],
input[type=checkbox]{
  margin: @margin/2;
}
input[type=submit],
button, a.btn, select{
  font: @fontSize @fontFamily;
  vertical-align: bottom;
  margin-right: @margin;
  background: darken(@background, 2%);
  border: 1px solid @border;
  border-bottom: 2px solid @border;
  cursor: pointer;
  padding: @padding/2 @padding;
  .transition(border-color, .1s, linear);
  .transition(background, .1s, linear);
  &:hover{
    background: @background;
  }
  &:active{
    border-top: 2px solid @border;
    border-bottom: 1px solid @border;
    background: @background;
  }
  &:focus{
    border-color: darken(@border, 10%);
  }

  &.inverse{
    color: white;
    background: darken(@color, 6%);
    border-color: darken(@color, 10%);
    &:hover{
      color: white;
      background: @color;
    }
    &:active{
      color: white;
      background: @color;
    }
    &:focus{
      border-color: darken(@border, 100%);
    }
  }
  &.warning{
    color: white;
    background: lighten(@warning, 5%);
    border-color: lighten(@warning, 2%);
    &:hover{
      color: white;
      background: lighten(@warning, 10%);
    }
    &:active{
      color: white;
      background: lighten(@warning, 10%);
    }
    &:focus{
      border-color: darken(@warning, 8%);
    }
  }
  &.error{
    color: white;
    background: darken(@error, 5%);
    border-color: darken(@error, 10%);
    &:hover{
      color: white;
      background: @error;
    }
    &:active{
      color: white;
      background: @error;
    }
    &:focus{
      border-color: darken(@error, 20%);
    }
  }
  &.info{
    color: white;
    background: darken(@info, 5%);
    border-color: darken(@info, 10%);
    &:hover{
      color: white;
      background: @info;
    }
    &:active{
      color: white;
      background: @info;
    }
    &:focus{
      border-color: darken(@info, 20%);
    }
  }
  &.success{
    color: white;
    background: darken(@success, 5%);
    border-color: darken(@success, 8%);
    &:hover{
      color: white;
      background: @success;
    }
    &:active{
      color: white;
      background: @success;
    }
    &:focus{
      border-color: darken(@success, 15%);
    }
  }
  &.small{
    font-size: 80%;
  }
  &.medium{
    font-size: 120%;
    padding: @padding @padding*1.5;
  }
  &.large{
    font-size: 150%;
    padding: @padding*1.5 @padding*2;
  }
}
input[disabled='disabled'], textarea[disabled='disabled'], select[disabled='disabled']{
  opacity: 1; //normalize ios opacity for disabled elements
  background: lighten(@border, 7%);
  background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(0,0%,100%,0)), to(hsla(0,0%,100%,0)));
  background-image:-webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0));
}
select{
  padding-right: 25px;
}
label{
  padding-right: @padding/2;
}
textarea{
  margin: 0 @margin @margin/1.2 0;
}
.icon-down-dir.select{
  pointer-events: none;
  position: absolute; margin: 4px 0 0 -30px; .opacity();
}
fieldset{
  border: 1px solid @border;
  .padding();
  legend{
    font-size: 120%;
    font-weight: bold;
    .padding(0,@padding/3,0,@padding/3);
  }
}