div.grid{
  overflow: auto;

  &.show{
    .grid1 div,.grid2 div, .grid4 div, .grid5 div, .grid3 div, .grid6 div, .grid7 div, .grid8 div, .grid9 div, .grid10 div, .grid11 div, .grid12 div, .grid13 div, .grid14 div, .grid15 div, .grid16 div{ 
      background: @background;
    }
  }

  .grid1 div,.grid2 div, .grid4 div, .grid5 div, .grid3 div, .grid6 div, .grid7 div, .grid8 div, .grid9 div, .grid10 div, .grid11 div, .grid12 div, .grid13 div, .grid14 div, .grid15 div, .grid16 div{ 
    margin: @margin;
    padding: @padding;
  }
  .grid1, .grid2, .grid4, .grid3, .grid5, .grid6, .grid7, .grid8, .grid9, .grid10, .grid11, .grid12, .grid13, .grid14, .grid15, .grid16{
    overflow: hidden;
    float: left;
  }

  .skip{
    float: left;
    height: 1px;
    overflow: hidden;
    background: none;
  }

  .grid1{
    width: 100%;
  }
  .grid2{
    width: 50%;
  }
  .grid3{
    width: 33.314%;
  }
  .grid4{
    width: 25%;
  }
  .grid5{
    width: 20%;
  }
  .grid6{
    width: 16.66%;
  }
  .grid7{
    width: 14.28%;
  }
  .grid8{
    width: 12.5%;
  }
  .grid9{
    width: 11.11%;
  }
  .grid10{
    width: 10%;
  }
  .grid11{
    width: 9.087%;
  }
  .grid12{
    width: 8.33%;
  }
  .grid13{
    width: 7.69%;
  }
  .grid14{
    width: 7.14%;
  }
  .grid15{
    width: 6.663%;
  }
  .grid16{
    width: 6.25%;
  }
}
