.unit(@unit){
  width: @unit;
  float: left;
}

div.grid{
  .unit1, .unit2, .unit3, .unit4, .unit5, .unit6, .unit7, .unit8, .unit9, .unit10, .unit11, .unit12{
    margin: @margin;
    padding: @padding;
  }
  &.show, .show{
    .unit1, .unit2, .unit3, .unit4, .unit5, .unit6, .unit7, .unit8, .unit9, .unit10, .unit11, .unit12{
      background: @background;
    }
  }
}

.unit1{
    .unit(@unit);
}
.unit2{
    .unit(4*@margin+2*@unit);
}
.unit3{
    .unit(8*@margin+3*@unit);
}
.unit4{
    .unit(12*@margin+4*@unit);
}
.unit5{
    .unit(16*@margin+5*@unit);
}
.unit6{
    .unit(20*@margin+6*@unit);
}
.unit7{
    .unit(24*@margin+7*@unit);
}
.unit8{
    .unit(28*@margin+8*@unit);
}
.unit9{
    .unit(32*@margin+9*@unit);
}
.unit10{
    .unit(36*@margin+10*@unit);
}
.unit11{
    .unit(40*@margin+11*@unit);
}
.unit12{
    .unit(44*@margin+12*@unit);
}
