body{
    font-size: 80%;
}
nav a{
    display: none;
}
nav a.logo{
    display: block;
}
.mobile{
    display: inline;
}
.desktop{
    display: none;
}
input{
  &.small,&.medium,&.large{
    width: auto;
  }
}
.unit1,.unit2,.unit3,.unit4,.unit5,.unit6,.unit7,.unit8,.unit9,.unit10,.unit11,.unit12{
    width: auto !important;
    display: block;
}

.responsive-background{
    background-size: auto 100% !important;
}