html.responsive{
    aside{
        display: none;
    }
    body{
        font-size: 80%;
    }
    nav a{
        display: none;
    }
    nav a.logo{
        display: block;
    }
    .mobile{
        display: inline-block;
        zoom: 1;
        *display: inline;
    }
    .desktop, .tablet{
        display: none !important;
    }
    input{
      &.small,&.medium,&.large{
        width: auto;
      }
    }
    .grid1, .grid2, .grid3, .grid4, .grid5{
        width: 100%;
    }
    .responsive-background{
        background-size: auto 100% !important;
    }
}