html.responsive{
    aside{
        display: none;
    }
    body{
        font-size: 80%;
        i{
            font-size: 14px;
        }
    }
    nav a{
        display: none;
    }
    nav a.logo{
        display: block;
    }
    .mobile{
        display: inline-block;
        zoom: 1;
        *display: inline;
    }
    .desktop, .tablet{
        display: none !important;
    }
    table{ margin: @margin 0; }
    table, 
    select, 
    input[type=text], 
    input[type=email], 
    input[type=password], 
    input[type=number], 
    input[type=submit], 
    textarea, .btn, button {
        width: 100%;
        margin-right: 0;
    }
    .grid1, .grid2, .grid3, .grid4, .grid5{
        width: 100%;
    }
    .responsive-background{
        background-size: auto 100% !important;
    }

    div.grid{

        .grid1 div,.grid2 div, .grid4 div, .grid5 div, .grid3 div, .grid6 div, .grid7 div, .grid8 div, .grid9 div, .grid10 div, .grid11 div, .grid12 div{ 
            margin: @margin/2;
        }
    }
}