nav{
  z-index: @zIndex;
  a{
    float: left;
    padding: @padding;
  }
  display: block;
  h1,h2,h3,h4,h5,h6{
    margin: 0;
  }
  &.menu{
    position: fixed;
    left: 0;
    width: 100%;
    background: #f7f7f7;
    border-bottom: 1px solid @border;
  }
  &.inverse{
    border-bottom: 1px solid black;
    background: black;
    color: white;
    h1,h2,h3,h4,h5,h6{
      color: inherit;
    }
    a{
      color: darken(white, 30%);
      &:hover{
        color: white;
      }
    }
  }
  &.top{
    top: 0;
  }
  &.bottom{
    bottom: 0;
  }
  a.logo{
    font-size: 140%;
    padding: @padding/1.9 @padding;
  }
  ul{
    list-style: none;
  }
  ul li{
    float: left;
  }
}