*{
  font-size: @fontSize;
}
html, body,
div, span, p, blockquote,
ul, li, dl, dt, dd, ol,
nav, a,
h1, h2, h3, h4, h5, h6,
pre, code,
form, label, input, select, textarea, button{
  border: 0;
  font-weight: normal;
  outline: none;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}
html{
  -webkit-font-smoothing: antialiased; //smoother fonts
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004); //smoother fonts
  height: 100%;
}
body{
  color: @color;
  background-color:  white;
  font:  @fontSize @fontFamily;
  line-height: 1.5;
  &.menu{
    padding-top: @padding*6;
  }
}
a.btn{
  display: inline-block;
  vertical-align: middle;
  color: @color;
  &:hover{
    color: @color;
  }
  &:active{
    color: @color;
  }
}
input,textarea,select{
  /*remove shadows on iOS devices*/
  background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(0,0%,100%,0)), to(hsla(0,0%,100%,0)));
  background-image:-webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0));
  font-family: @fontFamily;
}
input[type=text],
input[type=email],
input[type=number],
input[type=button],
input[type=submit],
select{
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select{
  cursor: pointer;
}