*{
  font-size: @fontSize;
}
html, body,
div, span, p, blockquote,
ul, li, dl, dt, dd, ol,
nav, a,
h1, h2, h3, h4, h5, h6,
pre, code,
form, label, input, select, textarea, button{
  border: 0;
  font-weight: normal;
  outline: none;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}
html{
  height: 100%;
}
input,textarea,select{
  /*remove shadows on iOS devices*/
  background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(0,0%,100%,0)), to(hsla(0,0%,100%,0)));
  background-image:-webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0));
  font-family: inherit;
  margin-right: @margin/2;
}
input[type=submit]{
  -webkit-appearance: none;
  -moz-appearance: none;
}