a{
    color: @links; 
    text-decoration: none;
    .transition(color, .1s, linear);
    &:hover{
        color: lighten(@links, 15%);
    }
    &:active{
        color: saturate(@links, 15%);
    }
    &:visited{ /* not implemented */}
}
del { 
    text-decoration: line-through; 
}
caps{
    font-variant: small-caps; 
}
mark{ 
    background: rgba(255, 255, 0, 0.4); 
    color: @color;
    padding: 0 .25em;
}
p{
    word-wrap:break-word;
    margin: 0 0 @paragraph;
    .first-letter{
        font-size: 300%;
        font-weight: bold;
        line-height: 90%;
        padding: 5px 5px 0 0;
        float: left;
        display: block;
    }
    &.idented{
        text-indent: 2em;
        margin-top: 0;
    }
}
blockquote{
    font-weight: lighter;
    padding-left: @paragraph;
    border-left: 2px solid @blockquote;
    p{
        font-size: 120%;
    }
    cite{
        font-weight: normal;
        margin-top: -(3+@paragraph);
        margin-bottom: @paragraph;
        padding: 0;
        display: block;
    }
    &.right{
        padding-left: 0;
        padding-right: @paragraph;
        border-left: none;
        border-right: 2px solid @blockquote;
    }
    &.inverse{
        border-color: darken(@blockquote, 100%);
    }
    &.warning{
        border-color: lighten(@warning, 10%);
    }
    &.error{
        border-color: lighten(@error, 10%);
    }
    &.info{
        border-color: lighten(@info, 10%);
    }
    &.success{
        border-color: lighten(@success, 10%);
    }
}
section{
    background: white;
    overflow: hidden;
    border: 1px solid @border;
    padding: 20px;
    margin: 20px 0;
    margin-bottom: @margin;
    &.column{
        float:left; .margin(); 
        .padding(); 
    }
}
small{
    font-size: 80%;
}
sub{ 
    .verticalAlign(sub); 
}
sup{ 
    .verticalAlign(super); 
}
thin{
    font-weight: 200;
}

table{
    border-collapse: collapse;
    
    &.stripes{
       tr:nth-child(even){
            background: @background;
        }
    }
    &.hover{
        tr:hover{
            background: @background;
        }
    }
}
tr{
    .transition(background, .1s, linear);
    &.warning{
        background: lighten(@warning, 50%);
    }
    &.error{
        background: lighten(@error,30%);
    }
    &.info{
        background: lighten(@info, 30%);
    }
    &.success{
        background: lighten(@success, 30%);
    }
}
th{
    background: @border;
    font-weight: bold;
    padding: @padding/2 @padding;
    border: 1px solid @border;
    text-align: left;
    &.clean{
        background: none;
        border: none;
    }
}
td{
    border: 1px solid @border;
    padding: @padding/2 @padding;
    &.clean{
        border-left: none;
        border-right: none;
    }
}

hr{
    border: 0;
    background: @border;
    height: 1px;
    &.small{
        height: 0.5px;
    }
    &.medium{
        height: 2px;
    }
    &.large{
        height: 4px;
    }
}