/* SLIDES JS */
widget .widgets-slideshow-slidejs{
    position: relative;
}
widget .widgets-slideshow-slidejs .viewport{
  overflow: hidden;
}
widget .widgets-slideshow-slidejs .images{
  width: 300px;
  height: 200px;
}
widget .widgets-slideshow-slidejs dd{
  margin: 0;
  padding: 0;
}
widget .widgets-slideshow-slidejs .images dd, widget .widgets-slideshow-slidejs .navigation dd{
  float: left;
}
widget .widgets-slideshow-slidejs .navigation{
  display: none;
}
widget .widgets-slideshow-slidejs .navigation dd{
  padding: 10px;   
  background: black;
  margin-right: 1px; 
  display: block;
}
widget .widgets-slideshow-slidejs .navigation .active{ 
  background: gray;
}
widget .widgets-slideshow-slidejs .clean{
  clear: both;
}