alert, tag{
  font-size: @fontSize;
  font-style: normal;
  background: lighten(@attention, 39%);
  border: 1px solid desaturate(lighten(@attention, 30%), 30%);
  color: darken(@attention, 22%);
  display: block;
  padding: 6px 10px;
  .borderRadius(3px);
  i{
    margin-right: @margin/4;
  }
  a{
    color: @attention;
    text-decoration: underline;
    &:hover{
      color: darken(@attention, 15%);
    }
    &:active{
      color: @attention;
    }
  }
  &.alert{
    background: lighten(@alert, 42%);
    color: #be5d60;
    border-color: lighten(@alert, 38%);
    a{
      color: @alert;
      &:hover{
        color: darken(@alert, 15%);
      }
      &:active{
        color: @alert;
      }
    }
  }
  &.info{
    background: lighten(@info, 50%);
    color: darken(@info, 5%);
    border-color: lighten(@info, 42%);
    a{
      color: darken(@info, 5%);
      &:hover{
        color: darken(@info, 15%);
      }
      &:active{
        color: @info;
      }
    }
  }
  &.success{
    background: desaturate(lighten(@success, 58%), 30%);
    color: darken(@success, 5%);
    border-color: desaturate(lighten(@success, 50%), 40%);
    a{
      color: @success;
      &:hover{
        color: darken(@success, 5%);
      }
      &:active{
        color: @success;
      }
    }
  }
}

tag{
  font-size: 80%;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  margin-right: @margin;
}