alert, tag{
  font-size: @fontSize;
  font-style: normal;
  background: lighten(@warning, 39%);
  border: 1px solid desaturate(lighten(@warning, 30%), 30%);
  color: darken(@warning, 18%);
  display: block;
  padding: 6px 10px;
  .borderRadius(3px);
  i{
    margin-right: @margin/4;
  }
  a{
    color: @warning;
    text-decoration: underline;
    &:hover{
      color: darken(@warning, 15%);
    }
    &:active{
      color: @warning;
    }
  }
  &.error{
    background: lighten(@error, 39%);
    color: #be5d60;
    border-color: lighten(@error, 34%);
    a{
      color: @error;
      &:hover{
        color: darken(@error, 15%);
      }
      &:active{
        color: @error;
      }
    }
  }
  &.info{
    background: lighten(@info, 46%);
    color: darken(@info, 5%);
    border-color: lighten(@info, 38%);
    a{
      color: darken(@info, 5%);
      &:hover{
        color: darken(@info, 15%);
      }
      &:active{
        color: @info;
      }
    }
  }
  &.success{
    background: desaturate(lighten(@success, 58%), 30%);
    color: darken(@success, 5%);
    border-color: desaturate(lighten(@success, 50%), 40%);
    a{
      color: @success;
      &:hover{
        color: darken(@success, 5%);
      }
      &:active{
        color: @success;
      }
    }
  }
}

tag{
  font-size: 80%;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  margin-right: @margin;
}