select[multiple=multiple]{
  padding: 0px;
}

span.radio{
  padding: @padding/3;
  .borderRadius(10px);
  span{
    .borderRadius(10px);
  }
  &.active{
    border-color: @links;
    span{
      background: @links;
    }
  }
}
span.checkbox{
  padding: @padding/1.5;
  .borderRadius(4px);
  position: relative;
  .icon-check{
    display: none;
    color: @links;
    position: absolute;
    top: -5px;
    left: 0;
  }
  &.active{
    border-color: @links;
    .icon-check{
      cursor: default;
      display: inline;
    }
  }
}
span.radio, span.checkbox{
  background: white;
  display: inline-block;
  *display: block;
  zoom: 1;
  vertical-align: middle;
  margin: @margin/4.5 @margin/2;
  border: 1px solid darken(@border, 8%);
  .transition(border-color, .1s, linear);
  span{
    .transition(background, .1s, linear);
    display: block;
    padding: @padding/3;
  }
  &:focus{
    border-color: lighten(@links, 15%);
  }
}

a.upload {
  padding: @padding;
  position: relative;
  i{
    line-height: 0.8;
  }
  input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    .opacity(0);
  }
}
input[type=text],
input[type=email],
input[type=password],
input[type=number],
textarea{
  border: 1px solid @border;
  border-top: 2px solid @border;
  border-color: @border;
  &:hover{
    .transition(border-color, .1s, linear);
    border-color: darken(@border, 8%);
  }
  &:focus{
    .transition(border-color, .1s, linear);
    border-color: lighten(@links, 15%);
  }
  .boxSizing ();
}
textarea{
  &.noresize{
    resize: none;
  }
}
input[type=radio],
input[type=checkbox]{
  margin: @margin/2;
}


input, a.btn, button, select{
  vertical-align: middle;
  i{
    line-height: 0.8;
  }
  margin: @margin/2 @margin @margin 0;
  .boxSizing ();
}
// fix margin-right for bigger sizes
input, a.btn, button, select{
  &.medium{
    margin-right: @margin*1.5;
  }
  &.large{
    margin-right: @margin*1.8;
  }
}
input[type=text],
input[type=email],
input[type=password],
input[type=number],
textarea, select{
  color: @fontColor;
  padding: @padding;
  &.small{
    font-size: @fontSmall;
    padding: @padding/1.5 @padding/1.2;
  }
  &.medium{
    font-size: @fontMedium;
    padding: @padding*1.5 @padding*1.2;
  }
  &.large{
    font-size: @fontLarge;
    padding: @padding*2 @padding*1.5;
  }
}
select{
  border: 1px solid @border;
}

input[type=submit],
button, a.btn{
  
  text-align: center;
  font: @fontSize @fontFamily;
  background: darken(@background, 3%);
  border: 1px solid darken(@background, 3%);
  cursor: pointer;
  padding: @padding @padding*2;
  .transition(background, .1s, linear);
  &:hover, &:focus{
    background: darken(@background, 7%);
    border-color: darken(@background, 7%);
  }
  &:active{
    background: darken(@background, 3%);
    border-color: darken(@background, 3%);
  }

  &.inverse, &.warning, &.info, &.error, &.success{
    i{
      color: white;
    }
    color: white;
  }

  &.inverse{
    background: @fontColor;
    border-color: @fontColor;
    &:hover, &:focus{
      background: darken(@fontColor, 100%);
      border-color: darken(@fontColor, 100%);
    }
    &:active{
      background: @fontColor;
      border-color: @fontColor;
    }
  }
  &.warning{
    background: @warning;
    border-color: @warning;
    &:hover, &:focus{
      background: darken(@warning, 10%);
      border-color: darken(@warning, 10%);
    }
    &:active{
      background: @warning;
      border-color: @warning;
    }
  }
  &.error{
    background: @error;
    border-color: @error;
    &:hover, &:focus{
      background: darken(@error, 13%);
      border-color: darken(@error, 13%);
    }
    &:active{
      background: @error;
      border-color: @error;
    }
  }
  &.info{
    background: @info;
    border-color: @info;
    &:hover, &:focus{
      background: darken(@info, 10%);
      border-color: darken(@info, 10%);
    }
    &:active{
      background: @info;
      border-color: @info;
    }     
  }
  &.success{
    background: @success;
    border-color: @success;
    &:hover, &:focus{
      background: darken(@success, 6%);
      border-color: darken(@success, 6%);
    }
    &:active{
      background: @success;
      border-color: @success;
    }
  }
  &.small{
    font-size: @fontSmall;
    //margin-top: 10.5px;
    padding: @padding/1.48 @padding*1.4;
  }
  &.medium{
    font-size: @fontMedium;
    //margin-top: 4.5px;
    padding: @padding*1.5 @padding*2.5;
  }
  &.large{
    font-size: @fontLarge;
    //margin-top: 2px;
    padding: @padding*2 @padding*3;
  }
}


input[type=text],
input[type=email],
input[type=password],
input[type=number],
textarea{
  //border-top: 2px solid @border;
  &.search{
    .borderRadius(50px);
  }
}
input[disabled='disabled'], textarea[disabled='disabled']{
  .opacity(100); //normalize ios opacity for disabled elements
  background: @background;
  background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(0,0%,100%,0)), to(hsla(0,0%,100%,0)));
  background-image:-webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0));
}
label{
  padding-right: @padding;
}
textarea{
  margin: 0 @margin @margin/1.2 0;
}
fieldset{
  border: 1px solid @border;
  .padding();
  legend{
    font-size: 120%;
    font-weight: bold;
    .padding(0,@padding/3,0,@padding/3);
  }
}