.nav-margin{
    margin-top: @padding*3.6 !important;
}
.nav-margin2x{
    margin-top: @padding*5.6 !important;
}

nav{
    a{
        padding: @padding;
        text-decoration: none;
        display: block;
    }
    &.white a{
        color: @white;
    }
    
    h1,h2,h3,h4,h5,h6{
        margin: 0;
    }

    &.bar{
        background: @white;
        position: fixed;
        left: 0;
        width: 100%;
        z-index: @zIndex;
        top: 0;
    }

    &.bottom{
        top: auto;
        bottom: 0;
    }
}