.margin-nav{
    margin-top: @padding*3.6 !important;
}
.margin-nav-large{
    margin-top: @padding*5.6 !important;
}

body > nav{

    background: white;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: @zIndex;
    display: block;
    top: 0;

    a{
        float: left;
        padding: @padding;
        &.active{
             background: @color-light;        
        }
    }
    
    h1,h2,h3,h4,h5,h6{
        margin: 0;
    }

    &.dark{
        border-bottom: 1px solid black;
        background: darken(@background, 100%);
        
        color: white;
        h1,h2,h3,h4,h5,h6{
            color: inherit;
        }
        a{
            color: darken(white, 30%);
            &:hover{
                color: white;
            }
            &.active{
                background: darken(@background, 83%);  
            }
        }
    }

    &.bottom{
        top: auto;
        bottom: 0;
    }

    .logo{
        font-size: @font-large;
        font-weight: bold;
        padding: @padding/1.6 @padding*1.5;
        float: left;
    }
    &.large{
        a, li{
            padding: @padding*2 @padding*2.8;
        }
        .logo{
            font-size: @fontLarge*1.5;
            padding: @padding/1.1 @padding*2;
        }
    }
    ul{
        list-style: none;
    }
    ul li{
        float: left;
    }
}