.gist-syntax td{
  border: none;
}

body {
  padding: 20px 30px;
}

.browser {
  margin: 20px 80px;
  border: 1px solid #E8E8E8;
}

.browser i {
  font-size: 130%;
  color: #4b4b4b;
}

.browser-logos {
  padding: 20px 0;
}

.browser-logos .browser-icon-chrome {
  color: #5881C5;
}

.browser-logos .browser-icon-android {
  color: #A4C639;
}

.browser-logos .browser-icon-safari {
  color: #2DA0D5;
}

.browser-logos .browser-icon-firefox {
  color: #ff5601;
}

.browser-logos .browser-icon-opera {
  color: #CE0317;
}

.browser-logos .browser-icon-ie {
  color: #1954EB;
}

.browser-nav-bar {
  top: 0;
  left: 0;
  padding: 5px;
  background-color: #c3c3c3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), to(#c3c3c3));
  background-image: -webkit-linear-gradient(top, #e3e3e3, #c3c3c3);
  background-image: -moz-linear-gradient(top, #e3e3e3 0%, #c3c3c3 100%);
  background-image: -o-linear-gradient(top, #e3e3e3 0%, #c3c3c3 100%);
  background-image: -ms-linear-gradient(top, #e3e3e3 0%, #c3c3c3 100%);
  background-image: linear-gradient(top, #e3e3e3 0%, #c3c3c3 100%);
  background-repeat: repeat-x;
  border-top: 1px solid white;
  border-bottom: 1px solid #aeaeae;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e3e3e3, endColorstr=#c3c3c3);
  text-shadow: 0px 1px 0px #ffffff;
}

.browser-content {
  padding: 50px;
  padding-top: 20px;
  background: white;
}

.browser-logos i {
  font-size: 480%;
}


.example {
  padding-top: 20px;
  margin: 0 0 20px 0;
  border: 1px solid #e8e8e8;
}

.example h3 {
  margin: 0;
}

.preview {
  padding: 0 20px;
}

@media screen and (max-width: 900px) {
  .browser {
    margin: 20px 30px;
  }
}

@media screen and (max-width: 600px) {
  .browser {
    margin: 0;
  }
  .browser-content {
    padding: 20px;
  }
  .browser-logo i {
    font-size: 350%;
  }

}
