@import "xtyle";

body{
	padding: 20px 30px;
	//padding-left: 200px;
}

.example{
	border: 1px solid #e8e8e8;
	margin: 0 0 20px 0;
	padding-top: 20px;
	.borderRadius();
	h3{
	margin: 0;
	}
}
.preview{
    padding: 0 20px;
}