<!DOCTYPE HTML>
<html class="responsive">
<head>
  <title>xchema | xtyle</title>
  <meta charset="utf-8">
  <meta name="robots" content="all">
  <meta name="citation_author" content="xchema">
  <meta name="description" content="Project Description">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="icon" type="image/x-icon" href="xtyle/img/favicon.ico">
  <link rel="stylesheet" type="text/css" href="xtyle/css/xtyle.css">
  <link rel="stylesheet" type="text/css" href="xtyle/css/site.css">
  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="xtyle/js/xtyle.js"></script>
</head>
<body class="margin-nav-large bg-light">

  <!-- NAVIGATION MENU -->
  <nav class="large border-bottom">
    <div class="layout-fixed-center border-bottom">

      <span class="logo">
        xtyle
      </span>

      <div class="float-right">
        <a href="index.html">home</a>
        <a href="typography.html">typography</a>
        <a href="forms.html">forms</a>
        <a href="layouts.html">layouts</a>
        <a href="https://github.com/xchema/xtyle/archive/0.0.3.zip" class="btn info small info border-radius" style="margin-top: 13px;">download</a>
      </div><!-- .float-right -->
    </div><!-- .layout-fixed-center -->
  </nav>

  {{ content }}

<footer class="border-top padding2x" style="margin-top: 30px; background: white;">
  <div class="layout-fixed-center">
    <div class="center">
    made by <a href="http://xchema.com">xchema</a>
  </div>
  </div>
</footer>
</body>
</html>