<!DOCTYPE HTML>
<html class="responsive">
<head>
    <title>xtyle</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Simple HTML, CSS, and JavaScript framework for creating amazing web applications.">
    <!-- <link rel="stylesheet" type="text/css" href="css/xtyle.css"> -->
    <link href="{{ site.host }}/assets/img/favicon.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ site.host }}/xtyle/css/xtyle.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ site.host }}/assets/css/browsers.css">
    <link rel="stylesheet" type="text/css" href="{{ site.host }}/assets/css/site.css">
  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

  <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.1/require.min.js"></script>
  <script src="{{ site.host }}/xtyle/js/main.js"></script>
</head>
<body class="menu" style="background: url(http://emoriz.com/github/bgnoise.png)">

<nav class="menu top inverse dropbox">
    <span class="logo">xtyle</span>
    <a href="{{ site.host }}/">Home</a>
    <a href="{{ site.host }}/pages/typography.html">Typography</a>
    <a href="{{ site.host }}/pages/forms.html">Forms</a>
    <a href="{{ site.host }}/pages/layout.html">Layout</a>
    <!-- <a href="pages/widgets.html">Widgets</a>
    <a href="pages/widgets.html">Themes</a>
    <a href="pages/examples.html">Examples</a> -->
    <a href="https://github.com/xchema/xtyle/archive/v0.1.zip" rel="download">Download</a>
</nav>

{{ content }}

<!-- GOOGLE ANALYTICS -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38177537-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>