<!DOCTYPE HTML>
<html class="responsive">
<head>
    <title>xtyle</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Simple HTML, CSS, and JavaScript framework for creating amazing web applications.">
    <!-- <link rel="stylesheet" type="text/css" href="css/xtyle.css"> -->
    <link href="assets/img/favicon.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/xtyle/css/xtyle.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/assets/css/browsers.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/site.css">
  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

  <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.1/require.min.js"></script>
  <script src="/assets/js/main.js"></script>
</head>
<body class="menu" style="background: url(http://emoriz.com/github/bgnoise.png)">

<nav class="menu top inverse dropbox">
    <span class="logo">xtyle</span>
    <a href="/">Home</a>
    <a href="/pages/typography.html">Typography</a>
    <a href="/pages/forms.html">Forms</a>
    <a href="/pages/layout.html">Layout</a>
    <!-- <a href="pages/widgets.html">Widgets</a>
    <a href="pages/widgets.html">Themes</a>
    <a href="pages/examples.html">Examples</a> -->
    <a href="https://github.com/xchema/xtyle/archive/v0.1.zip" rel="download">Download</a>
</nav>

{{ content }}

</body>
</html>