/*@import "xtyle.min.css";*/

body{
    color: gray;
}
.logo{
    color: black;
    font-family: 'Damion', cursive;
}
a{
    color: black;
}
a:hover{
    color: black;
}
a:active{
    color: black;
}
#home_banner{
    background-image: url('../img/scuderia1.jpg'); 
    background-color: #f7f7f7;
    background-position: center;
    height:400px; 
    width: 100%;
}
#boxes h1{
    color: white;
}
#pictures{
    background-color: #f7f7f7;
}
#pictures li{
    padding: 40px;
    margin: 15px;
    background: red;
}