/*@import "xtyle.min.css";*/

body{
    color: gray;
}
.logo{
    color: black;
    font-family: 'Damion', cursive;
}
a{
    color: black;
}
a:hover{
    color: black;
}
a:active{
    color: black;
}
#home_banner{
    background: url('../img/scuderia.jpg') left top; height:400px; width: 100%; min-width: 960px; background-size: 100% auto;
}
#boxes h1{
    color: white;
}