@import "browsers.css";

.browser-logos i {
  color: white;
  font-size: 600%;
  padding: 10px;
}
#home_banner a{
  color: white;
}

#home_banner{
  margin-top: 90px;
}

@media screen and (max-width: 900px) {

}

@media screen and (max-width: 600px) {
  #home_banner{
    margin-top: 20px;
  }
  .browser-logos i{
    font-size: 500%;
  }

}
